.pentatonic_hero {
    /*
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    */
}

.pentatonic_hero .input {
    width: 50vw;
    height: 100vh;
    display: inline-block;
}
.pentatonic_hero .input .track {
    height: 100vh;
    width: 20%;
    display: inline-block;
}

.pentatonic_hero .input .track .button_track,
.pentatonic_hero .input .track .button {
    width: 100%;
}

.pentatonic_hero .input .track .button_track {
    height: 95vh;
    display: inline-block;
}
.pentatonic_hero .input .track .button {
    height: 5vh;
    display: inline-block;
}

.pentatonic_hero .input .track.button0.button_on .button {
    background-color: red;
}
.pentatonic_hero .input .track.button1.button_on .button {
    background-color: yellow;
}
.pentatonic_hero .input .track.button2.button_on .button {
    background-color: green;
}
.pentatonic_hero .input .track.button3.button_on .button {
    background-color: blue;
}
.pentatonic_hero .input .track.button4.button_on .button {
    background-color: orange;
}

